
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_example {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_example #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}

#dt_example #row {
	background:#00FF00;
}

#dt_example #column {
	width: 45%;
	height:300px;
	padding:5px 10px; 
	background:#dddddd;
	border:2px solid #a1a1a1;
	border-radius:25px;
}

#dt_example #column_ {
	width: 95%;
	height:justified;
	padding:5px 10px; 
	background:#dddddd;
}


#dt_example #column_inner_ {
	width: 45%;
	height:justified;
	padding:5px 10px; 
}


#dt_example #column_broad {
	width: 85%;
	height:300px;
	padding:5px 10px; 
	background:#dddddd;
	border:2px solid #a1a1a1;
	border-radius:25px;
}

#dt_example #row {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}

#dt_example #footer {
  width: 100%;	
  background-color:#DCDCDC;
  clear:both;
  text-align:center;
  color:#4E6CA3;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_example h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_example hr {
	margin-top: 4em;
	line-height: 4m;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_example h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_example a {
	color: #0063DC;
	text-decoration: none;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #4E6CA3;
}


#dt_example label {
	margin-top: 1em;
	font-size: 1.0em;
	font-weight: normal;
	color: #4E6CA3;
}


.css_right {
	float: right;
}

.css_left {
	float: left;
}